<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.main.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">

                <div class="left_1">
                    <div class="left_1_profile_img">
                        <img src="images/profile_img.png" width="156px" height="142px" alt="">
                    </div>
                    <div class="left_1_profile_name">
                        <%=user.name%>
                    </div>
                    <div class="left_1_profile_prof">
                        <%=user.profession%>
                    </div>
                    <div class="left_1_profile_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-facebook.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-youtube.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-twitter.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-instagram.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-linkedin.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-dribbble.svg" class="icon_1" alt="">
                            </div>
                        </a>
                    </div>
                    
                </div>
                <div class="l_margin1"></div>

                 <div class="left_2">
                    <div class="left_2_about">
                        <div class="about_details">
                            <div class="details_age">
                               <p class="left_p1">Age</p>
                            </div>
                            <div class="age_info"><%=user.age%></div>

                        </div>
                        <div class="about_details">
                            <div class="details_residence">
                                <p class="left_p1">Residence</p>
                            </div>
                            <div class="residence_info"><%=user.residence%></div>

                        </div>
                        <div class="about_details">
                            <div class="details_freelance">
                                <p class="left_p1">Profession</p>
                            </div>
                            <div class="freelance_info"><%=user.profession%></div>
                        </div>
                        <div class="about_details">
                            <div class="details_address">
                                <p class="left_p1">Address</p>
                            </div>
                            <div class="address_info"><%=user.address%></div>
                        </div>
                        

                    </div>
                </div>
                <div class="l_margin2"></div>

                <div class="left_3">
                    <div class="lang">
                        <div class="lang_info"><h3 class="lang_h3">Languages</h3></div>
                        <div class="lang_info">
                            <div class="lang_info_1"><p>Uzbek</p></div>
                            <div class="lang_info_1"><p>100%</p></div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_margin1">
                                <a class="link_href3" href="">
                                    <div class="icon">
                                        <img src="icons/Line_yellow100.svg" class="icon_1" alt="">
                                    </div>
                                </a>   
                            </div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_info_1"><p>Korean</p></div>
                            <div class="lang_info_1"><p>80%</p></div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_margin1">
                                <a class="link_href3" href="">
                                    <div class="icon">
                                        <img src="icons/Line_yellow80.svg" class="icon_1" alt="">
                                    </div>
                                </a>  
                            </div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_info_1"><p>English</p></div>
                            <div class="lang_info_1"><p>90%</p></div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_margin1">
                                <a class="link_href3" href="">
                                    <div class="icon">
                                        <img src="icons/Line_yellow90.svg" class="icon_1" alt="">
                                    </div>
                                </a>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l_margin3"></div>

                <div class="left_4">
                    <div class="lang">
                        <div class="lang_info"><h3>Skills</h3></div>
                        <div class="lang_info">
                            <div class="lang_info_1"><p>Html</p></div>
                            <div class="lang_info_1"><p>85%</p></div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_margin1">
                                <a class="link_href3" href="">
                                    <div class="icon">
                                        <img src="icons/Line_yellow85.svg" class="icon_1" alt="">
                                    </div>
                                </a>  
                            </div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_info_1"><p>Css</p></div>
                            <div class="lang_info_1"><p>70%</p></div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_margin1">
                                <a class="link_href3" href="">
                                    <div class="icon">
                                        <img src="icons/Line_yellow70.svg" class="icon_1" alt="">
                                    </div>
                                </a>  
                            </div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_info_1"><p>NodJS</p></div>
                            <div class="lang_info_1"><p>60%</p></div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_margin1">
                                <a class="link_href3" href="">
                                    <div class="icon">
                                        <img src="icons/Line_yellow60.svg" class="icon_1" alt="">
                                    </div>
                                </a>  
                            </div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_info_1"><p>MERN</p></div>
                            <div class="lang_info_1"><p>60%</p></div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_margin1">
                                <a class="link_href3" href="">
                                    <div class="icon">
                                        <img src="icons/Line_yellow60.svg" class="icon_1" alt="">
                                    </div>
                                </a>  
                            </div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_info_1"><p>C++</p></div>
                            <div class="lang_info_1"><p>75%</p></div>
                        </div>
                        <div class="lang_info">
                            <div class="lang_margin1">
                                <a class="link_href3" href="">
                                    <div class="icon">
                                        <img src="icons/Line_yellow75.svg" class="icon_1" alt="">
                                    </div>
                                </a>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l_margin4"></div>

                <div class="left_5">
                    <div class="lang">
                        <div class="lang_info"><h3>Extra Skills</h3></div>
                        <div class="extra_skill">
                            <div class="extra_info">
                                <a class="link_href5" href="">
                                    <div class="icon">
                                        <img src="icons/extra_icons1.svg" class="icon_1" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="extra_info"><p>Bootstrap, Materialize</p></div>

                        </div>
                        <div class="extra_skill">
                            <div class="extra_info">
                                <a class="link_href5" href="">
                                    <div class="icon">
                                        <img src="icons/extra_icons2.svg" class="icon_1" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="extra_info"><p>Stylus, Sass, Less</p></div>
                        </div>
                        <div class="extra_skill">
                            <div class="extra_info">
                                <a class="link_href5" href="">
                                    <div class="icon">
                                        <img src="icons/extra_icons3.svg" class="icon_1" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="extra_info"><p>Gulp, Webpack, Grunt</p></div>
                        </div>
                        <div class="extra_skill">
                            <div class="extra_info">
                                <a class="link_href5" href="">
                                    <div class="icon">
                                        <img src="icons/extra_icons4.svg" class="icon_1" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="extra_info">GIT Knowledge</div>
                        </div>

                    </div>
                </div>
                <div class="l_margin5"></div>

            </div>
            <div class="middle_frame"></div>
            <div class="right_frame"></div>

        </div>
    </div>
</body>

</html>
