<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.main.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <!-- Shu yerdan left 1 boshlanadi -->

                <div class="left_1">
                    <div class="left_1_profile_img">
                        <img src="images/profile_img.png" width="156px" height="142px" alt="">
                    </div>
                    <div class="left_1_profile_name">
                        <%=user.name%>
                    </div>
                    <div class="left_1_profile_prof">
                        <%=user.profession%>
                    </div>
                    <div class="left_1_profile_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-facebook.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-youtube.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-twitter.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-instagram.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-linkedin.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-dribbble.svg" class="icon_1" alt="">
                            </div>
                        </a>
                    </div>
                    
                </div>
                <div class="l_margin1"></div>

                <!-- Shu yerdan left 2 boshlanadi  -->
                <div class="left_2">
                    <div class="about_details">
                        <div class="details">Age:</div>
                        <div class="age_info"><%=user.age%></div>
                    </div>
                    <div class="about_details">
                         <div class="details">Residence:</div>
                         <div class="residence_info"><%=user.residence%></div>
                    </div>
                    <div class="about_details">
                        <div class="details">Residence:</div>
                        <div class="freelance_info"><%=user.profession%></div>
                    </div>
                    <div class="about_details">
                        <div class="details">Address:</div>
                        <div class="address_info"><%=user.address%></div>
                    </div>
                </div>
                <div class="l_margin2"></div>

                <!-- Shu yerdan left 3 boshlanadi -->
                <div class="left_3">            
                    <div class="lang_info"><h3 class="lang_h3">Languages:</h3></div>
                    <div class="lang_info">
                        <div class="lang_info_1"><p>Uzbek</p></div>
                        <div class="lang_info_1"><p>100%</p></div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_margin1">
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icons/Line_yellow100.svg" class="icon_1" alt="">
                                    </div>
                            </a>   
                        </div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_info_1"><p>Korean</p></div>
                        <div class="lang_info_1"><p>80%</p></div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_margin1">
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icons/Line_yellow80.svg" class="icon_1" alt="">
                                </div>
                            </a>  
                        </div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_info_1"><p>English</p></div>
                        <div class="lang_info_1"><p>90%</p></div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_margin1">
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icons/Line_yellow90.svg" class="icon_1" alt="">
                                </div>
                            </a>  
                        </div>
                    </div>    
                </div>
                <div class="l_margin3"></div>
                <!-- Shu yerdan left 4 boshlanadi -->
                <div class="left_4">
                    <div class="lang_info"><h3 class="lang_h3">Skills</h3></div>
                    <div class="lang_info">
                        <div class="lang_info_1">Html</div>
                        <div class="lang_info_1">85%</div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_margin1">
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icons/Line_yellow85.svg" class="icon_1" alt="">
                                </div>
                            </a>  
                        </div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_info_1">Css</div>
                        <div class="lang_info_1">70%</div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_margin1">
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icons/Line_yellow75.svg" class="icon_1" alt="">
                                </div>
                            </a>  
                        </div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_info_1">NodJS</div>
                        <div class="lang_info_1">60%</div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_margin1">
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icons/Line_yellow60.svg" class="icon_1" alt="">
                                </div>
                            </a>  
                        </div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_info_1">Python</div>
                        <div class="lang_info_1">60%</div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_margin1">
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icons/Line_yellow60.svg" class="icon_1" alt="">
                                </div>
                            </a>  
                        </div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_info_1">C++</div>
                        <div class="lang_info_1">75%</div>
                    </div>
                    <div class="lang_info">
                        <div class="lang_margin1">
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icons/Line_yellow75.svg" class="icon_1" alt="">
                                </div>
                            </a>  
                        </div>
                    </div>
                </div>
                <div class="l_margin4"></div>
                <!-- Shu yerdan left 5 boshlanadi -->
                <div class="left_5">
                    <div class="lang_info"><h3 class="lang_h3">Extra Skills</h3></div>
                    <div class="extra_skill">
                        <div class="extra_icon">
                            <a class="link_href5" href="">
                                <div class="icon">
                                    <img src="icons/extra_icons1.svg" class="icon_1" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="extra_info">Bootstrap, Materialize</div>
                    </div>
                    <div class="extra_skill">
                        <div class="extra_icon">
                            <a class="link_href5" href="">
                                <div class="icon">
                                    <img src="icons/extra_icons2.svg" class="icon_1" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="extra_info">Stylus, Sass, Less</div>
                    </div>
                    <div class="extra_skill">
                        <div class="extra_icon">
                            <a class="link_href5" href="">
                                <div class="icon">
                                    <img src="icons/extra_icons3.svg" class="icon_1" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="extra_info">Gulp, Webpack, Grunt</div>
                    </div>
                    <div class="extra_skill">
                        <div class="extra_icon">
                            <a class="link_href5" href="">
                                <div class="icon">
                                    <img src="icons/extra_icons4.svg" class="icon_1" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="extra_info">GIT Knowledge</div>
                    </div>
                </div>
                <div class="l_margin5"></div>
            </div>

            <!-- Shu yerdan middle frame boshlanadi -->

            <div class="middle_frame">
                <div class="middle_top">
                    <div class="middle_block">
                        <div class="middle_header">Doctor neurologists
                            in OHSU Hospital</div>
                        <div class="middle_header_comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</div>
                        <div class="middle_hire">
                            <div class="middle_hire_botton">
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <!-- <img src="icons/bottom_advert_frame.svg" class="icon_hire" alt=""> -->   
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="middle_block1">
                        <img src="images/middle_image_my.png" width="326.055px" height="470px"  alt="">
                    </div>
                </div>
                <div class="middle_bottom">
                    <div class="service">
                        <h1 class="service_h1">My services</h1>
                        <p class="service_p">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
                    </div>
                    <div class="service_info_seperate">
                        <div class="service_info">
                            <div class="service_info_details">
                                <div class="service_icons">
                                    <a class="" href="">
                                        <div class="">
                                            <img src="icons/bottom_icon_coding.svg" class="" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="service_name">web development</div>
                                <div class="service_option">blog, e-commerce</div>
                            </div> 
                            <div class="service_info_details1">
                                <div class="service_icons">
                                    <a class="" href="">
                                        <div class="">
                                            <img src="icons/bottom_icon_game-development.svg" class="" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="service_name">uI/uX design</div>
                                <div class="service_option">Mobile app, website design</div>
                            </div>
                            <div class="service_info_details2">
                                <div class="service_icons">
                                    <a class="" href="">
                                        <div class="">
                                            <img src="icons/bottom_icon_illustration.svg" class="" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="service_name">sound design</div>
                                <div class="service_option">Voice Over, Beat Making</div>
                            </div>
                        </div>
                        <div class="service_info1">
                            <div class="service_info_details3">
                                <div class="service_icons">
                                    <a class="" href="">
                                        <div class="">
                                            <img src="icons/bottom_icon_Microphone.svg" class="" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="service_name">game design</div>
                                <div class="service_option">Character Design, Props & Objects</div>
                            </div>
                            <div class="service_info_details4">
                                <div class="service_icons">
                                    <a class="" href="">
                                        <div class="">
                                            <img src="icons/bottom_icon_Photographer.svg" class="" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="service_name">photography</div>
                                <div class="service_option">portrait, product photography</div>
                            </div>
                            <div class="service_info_details5">
                                <div class="service_advert">advertising</div>
                                <div class="service_advert_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
                                <div class="service_advert_order">ORDER NOW
                                    <div class="service_advert_right_icon">
                                        <a class="" href="">
                                            <div class="">
                                                <img src="icons/bottom_advert_Frame.svg" class="" alt="">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Shu yerdan Right frame boshlanadi -->

            <div class="right_frame">
                <!-- "right frame"ni 3ga bo'ldim -->
                 <!-- 1 -->
                <div class="contrast">
                    <a class="" href="">
                        <div class="">
                            <img src="icons/right_menu_icons_Contrast.svg" class="" alt="">
                        </div>
                    </a>
                </div>
                <!-- Bu yerda tuzatilish kiritilishi kerak -->
                 <!-- 2 -->
                <div class="right_menu_icons_union">
                    <h4 class="right_menu_h4_home">Home</h4>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Union_menu_right.svg" class="icon_1" alt="">
                            </div>
                        </a>
                </div>
                <!-- 3 -->
                <div class="right_menu">
                    <div class="right_menu_icons2">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/right_menu_icons_Home.svg" class="icon_1" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="right_menu_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/right_menu_icons_cv.svg" class="icon_1" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- <div class="right_menu_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/file-code" class="icon_1" alt="">
                            </div>
                        </a>
                    </div> -->
                    <div class="right_menu_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/right_menu_icons_Vector.svg" class="icon_1" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="right_menu_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/right_menu_icons_Blog.svg" class="icon_1" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="right_menu_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/right_menu_icons_Contact.svg" class="icon_1" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
